In [1]:
import pandas as pd

In [22]:
# Load the data
file_path = 'D:/proyecto/renewable_energies_powerbi/IRENA_RE_data_balances_extract-July2023.xlsx'
data = pd.read_excel(file_path, sheet_name='in')

In [23]:
#Filter for European Countries
eu_countries = [
    "Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", 
    "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", 
    "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", 
    "Malta", "Netherlands", "Poland", "Portugal", "Romania", 
    "Slovakia", "Slovenia", "Spain", "Sweden",
    "Iceland", "Liechtenstein", "Norway", "Switzerland"
]

In [24]:
# Filter the data to include only EU countries
df_eu = data[data['Country/area'].isin(eu_countries)].copy()

In [25]:
# Inspect original values in TJ
print(df_eu.head())

    Country/area Technology/source  Year              Main category  \
434      Austria        Hydropower  2021             Primary Energy
435      Austria        Hydropower  2021             Primary Energy
436      Austria        Hydropower  2021      Transformation/Losses
437      Austria        Hydropower  2021  Consumption(Elect.& Heat)
438      Austria        Hydropower  2021  Consumption(Elect.& Heat)

    Sub Category        Value Unit
434   Production  139504.7880   TJ
435       Supply  139504.7880   TJ
436  Electricity -139504.7880   TJ
437        Total  127063.9986   TJ
438  Electricity  127063.9986   TJ

In [26]:
# Check if 'Value' column exists for conversion
if 'Value' in df_eu.columns:
    # Convert the values from TJ to TWh
    df_eu['Value_TWh'] = df_eu['Value'] * 0.00027778
else:
    # Use existing 'Value_TWh' if already in TWh
    df_eu['Value_TWh'] = df_eu['Value_TWh']

In [27]:
# Select relevant columns and aggregate the data
df_eu = df_eu[['Country/area', 'Technology/source', 'Year', 'Main category', 'Value_TWh']]
df_aggregated = df_eu.groupby(['Country/area', 'Technology/source', 'Year']).agg({'Value_TWh': 'sum'}).reset_index()

In [28]:
# Save the aggregated data to a CSV file in the current directory
df_aggregated.to_csv('D:/proyecto/renewable_energies_powerbi/EU_RE_aggregated_data.csv', index=False)

In [29]:
# Preview the first few rows of the aggregated data
df_aggregated.head()

  Country/area Technology/source  Year   Value_TWh
0      Austria            Biogas  2020    5.503404
1      Austria            Biogas  2021    5.383786
2      Austria          Charcoal  2020    0.781040
3      Austria          Charcoal  2021    0.792465
4      Austria       Electricity  2020  142.684645